@font-face {
    font-family: 'MinecraftBold';
    src: url('font/MinecraftBold.otf') format('truetype');;
}

@font-face {
    font-family: 'MinecraftBoldItalic';
    src: url('font/MinecraftBoldItalic.otf') format('truetype');;
}

@font-face {
    font-family: 'MinecraftRegularItalic';
    src: url('font/MinecraftRegularItalic.otf') format('truetype');;
}

@font-face {
    font-family: 'MinecraftRegular';
    src: url('font/MinecraftRegular.otf') format('truetype');;
}

@font-face {
    font-family: 'MinecraftCaps';
    src: url('font/MinecraftCaps.otf') format('truetype');;
}



body, html{padding: 0;margin: 0; height: 100%;}
body{
    background: #eeeeee;
    /* background-image: url("immagini/background.png"); */
    
}
body{ margin-top: 0 !important;}

main{
    background: #019d25;
    width: 100%;
}

/* Container */
.container{
    padding: 0px; 
    padding-top: 100px;
    background: #000;
    position: relative;
}

.animate{
    -webkit-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;
}
a{text-decoration: none;}

*{box-sizing: border-box;}


/* Testi */
.big_text{     font-family: 'Inter', sans-serif, bold;font-size: 70px; color: #fff;font-weight: 900;}
.medium_text{    font-family: 'Inter', sans-serif;font-size: 40px;color:#fff}
.normal_text{    font-family: 'Inter', sans-serif;font-size: 20px;color:#fff; font-weight: 500;}
.small_text{    font-family: 'Inter', sans-serif;font-size: 14px;color:#fff}
.intro_text{
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}
h1{
    color: #000;
    margin: 0%;
    height: auto;
    width: 100%;
    font-family: "MinecraftCaps";
    font-size: 45px;
    /* border: 1px solid black; */
}
h2{
    color: rgb(209, 209, 209);
    border-bottom: 3px solid rgb(209, 209, 209);
    margin: 0% 1% 1% 0%;
    text-align: center;
    height: auto;
    width: 100%;
    font-family: "MinecraftBold";
    font-size: 30px;
    /* border: 1px solid black; */
}
p{
    color: rgb(209, 209, 209);
    margin: 0%;
    height: auto;
    width: 100%;
    font-family: "MinecraftRegular";
    font-size: 22px;
}
.minecraft_text{
    color: rgb(209, 209, 209);
    margin: 0%;
    height: auto;
    width: 100%;
    font-family: "MinecraftRegular";
    font-size: 22px;
}
.Grande_Titolo{
    font-size: 40px;padding: 20px 0px 0px 0px;
    width: 100%;
}
.Titolo_mod{
    font-family: "MinecraftRegular";
    border-top: 2px solid white;
    border-bottom: 0px;
    text-align: left;
    padding-top: 20px;
}

#Titolo{
    margin-top: 16px;
    position: relative;
}
#Titolo1{
    padding-top: 0px;
    margin-top: 16px;
    position: relative;
    /* background: url(immagini/background_forest.png); */
    /* object-fit: cover; */
}
#Titolo2{
    background: url(immagini/background_plains.png);
}
#Titolo3{
    background: url(immagini/background_mountain.png);
}
#Titolo4{
    background: url(immagini/background_swamp.png);
}
#Titolo5{
    background: url(immagini/background_desert.png);
}
#Titolo6{
    background: url(immagini/background_ocean.png);
}

#mobs{
    background: url(immagini/background_mobs.webp);
}
#mods{
    background-color: #000;
}
#mod{
    background-color:#005508;
}
#mydata{
    background-color:#000;
}
#Titolo1_mobs{
    margin-top: 96px;
    position: relative;
    background: url(immagini/background_overworld.png);
}
#Titolo2_mobs{
    background: url(immagini/background_nether.png);
}
#Titolo3_mobs{
    background: url(immagini/background_end.png);
}
#Titolo4_mobs{
    background: url(immagini/background_boss.png);
}
.mobs__card{
    margin: 20px 10px;
    margin-bottom: 20px;
    width: 15%;
    height: auto;
    border: 1px white;
    box-shadow: 3px 3px 15px  #005508;
    background:#00841f;
    border-radius: 4px;
}
.mobs__card__img{
    width: 50%;
    height: auto;
    border-radius: inherit;
    margin: auto;
}

.container__container{
    height: 100%;
    background:#0000006a;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#final-text{
    padding: 0px 0px 20px 0px;
}
#Foreste, #Pianure, #Montagne, #Paludi, #Deserti, #Oceani{
    /* transform: translateY(-80px); */
    margin-bottom: 45px;
}

#Overworld, #Nether, #End, #Boss{
    margin-bottom: 45px;
}

#Foreste{
    padding-top: 30px;
}
/* Footer */
.footer{background:#004e12;border: 1px solid #00841f;width: 100%; text-align: center;}
.footer p{color: #ffffff;font-family: 'Inter', sans-serif;font-size: 14px;color:#fff}
.footer h3{ font-family: 'Inter', sans-serif;font-size: 20px;color:#fff; font-weight: 500;}
header{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}
main{z-index: 0;}

.img_res{object-fit:cover; width: 100%;height: 100%;}

/* Small Header */
.small_header{
    background: #00841f;
    padding: 10px 10px 10px 10px;
    /* position: absolute;
    top: -1.95%; 
    right: 0;
    left: 0; */
}

/* Global Header */
.Global__header{
    background: #019d26;
    /* border: 2px solid red; */
    width: 100%;
    display: none;
    position: relative; 
    top: 0;
    right: 0;
    left: 0; 
    display: flex;

}
.Global__header a{
    color: rgb(209, 209, 209);
    /* margin: 10px; */
    font-size: 25px;
    font-family: "MinecraftRegular"; 
    text-align: center;
    /* height: 5px; */
    /* border: 1px solid black; */
}

.Global__header--fixed{
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    z-index: 1;
}
.Global__header__menu--open{
    right: 0;
    display: block;
}
    /* Global Header Menu */
    .Global__header__menu{
        width: 41.33333333333333333333333%;
        list-style: none;
    }
    .UserInterface{
        width: 41.33333333333333333333333%;
        list-style: none;
        display: flex;
        justify-content: end;
        margin: auto;
        margin-right: 0;
    }
    .UserInterface li{
        display: inline-block;
        padding: 0% 1.5%;
        margin: auto 0px;
        padding-right: 20px;
        /* border-right: 0px solid rgb(209, 209, 209); */
        /* transition: 0.5s; */
    }

    .Global__header__menu li{
        display: inline-block;
        padding: 0% 1.5%;
        /* border-right: 0px solid rgb(209, 209, 209); */
        /* transition: 0.5s; */
    }
    /* Global Header Logo */
    #Global__header__logo{
        width: 17.33333333333333333333333%;
        text-align: center;
    }
    .Global__header__line-menu{
        position: absolute;
        bottom:0;
        left:0;
        height: 8px;
        width: 0px;
        background: rgb(209, 209, 209);
        /* border: 1px solid red; */
    }


/* Cover */
.cover{
    z-index: 0;
}
.cover{
    /* border: 2px solid red; */
    /* margin-top: 50px; */
    position: relative;
    /* background-image: url("immagini/minecraft-mod.png"); */
    background: #00841f;
    
}

.cover__content{
    /* background: #00841f; */
    position: absolute;
    width: 100%;
    /*bottom:0;
    right:0; */
}

/* Cover 2 */
.cover2{
    /* border: 2px solid red; */
    position: relative;
    /* background-image: url("immagini/minecraft-mod.png"); */
    /* background: #000; */
    /* background-image: url("immagini/sfondo_bloccoditerra.jpg"); background-size: 50%; */
    margin-bottom: 0px;
    padding: 15px;
}


.profile_img{
    display: flex;
    height: 60px;
    padding: 10px;
}
.profile_img img{
    height: 100%;
    width: auto;
}
#login-main{
    /* background-image: url("immagini/background_image3.jpg"); */
    /* filter: blur(8px); */
    height: 100vh;
    align-items: center;
    display: flex;
    position: absolute;
    background: none;
}
.login-background{
    background-image: url("immagini/background_image3.jpg");
    background-size: cover;
    height: 145vh;
    width: 100%;
    filter: blur(7px);
    /* align-items: center;
    display: flex; */
    position: absolute;

}
.login{
    
    justify-content: center;
    align-items: center;
    width: 33.33333333333333333333333333333%;
    height: 60%;
    margin: auto;
    
    
}
.login h1{
    text-align: center;
    padding: 0;
    margin: 0;
    width: auto;
}
.titolo__login{
    width: 100%;
    height: 12vh;
    display: flex;
    /* margin: auto; */
    justify-content: center;
    align-items: center;
}
.titolo__login__img{
    height: 100%;
    padding: 10px;
}
.titolo__login h1{
    width: 85%;
    height: 100%;
    font-size: 7.5vh;
    text-align: left;
    /* line-height: 100%; */
    padding-top: 7px;
}
.login__content, .mydata_table{
    padding: 20px;
    background: #019d25;
    height: auto;
    border-radius: 10px;
}
.login__content table, tr,td, input{
    width: 100%;
}
.mydata_table table, tr,td, input{
    width: 100%;
}
/* #registrati{
    width: 30%;
} */
.login__content input{
    height: 6.5vh;
    border-radius: 5px;
    font-size: 22px;
}
.mydata_table input{
    height: 6.5vh;
    border-radius: 5px;
    font-size: 22px;
}
.mydata_table{
    width: 100%;
    align-items: center;
}
.mydata_content{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 20px;
}

#accedi{
    /* width: auto; */
    height: 5vh;
    width: auto;
    padding: 0px 15px;
    background-color:#005508;
}
table{
    justify-content: center;
    margin: auto;
}
#accedi{
    display: grid;
    justify-content: center;
    margin: auto;
}
/* Grid */
.grid{
    /* border: 1px solid black; */
    /* align-items: center ; */
    display: flex; 
    /* flex-wrap: wrap; */
    width: 100%;
    /* max-width: 1350px; */
    /* padding: 0 30px; */
}

    .colonna{
        /* border: 1px solid black; */
        width: 100%;
        /* padding: 5px; */
        /* margin: 0%; */
        text-align: start;
        padding: 40px;
        
        
    }
    .footer__column{
        /* border: 1px solid black; */
        width: 33.3334%;
        /* padding: 5px; */
        /* margin: 0%; */
        text-align: start;
        padding: 10px;
        /* border: 1px solid red; */
        
    }

    /* .colonna a:hover */
    .footer__column{
        position: relative;
        transition: 0.2s;
        transition-timing-function: ease-in;
    }
    .footer__column p{
        padding-top: 10px;
    }
    .footer__column h3, .footer__column p{
        transition: 1s;
        transition-timing-function: ease-in;
    }
    .colonna h3{
        margin-bottom: 10px;
        margin-top: 10px;
        /* padding-bottom: 0; */
    }
    .footer__column h3{
        margin-bottom: 10px;
        margin-top: 10px;
        /* padding-bottom: 0; */
    }
    .colonnatitolo{
        margin:  0px 0px 0.90% 7.142857143%;
        /* border: 1px solid white; */
        
    }
    .footer__column img{
        position: absolute;
        top: 3vh;
        right: 4vh;
        border-radius: 10px;
        width: 5vw;
        height: auto;
    }

.immagine-descrizione{    
    width: 50%;
    /* padding: 5px; */
    /* border: 1px solid black; */
}

.immagine{
    width: 50%;
    margin: 0%;
    display: inline-block; 
    border: 1px solid black;
}

/* .cover1{
    border: 2px solid red;
    position: fixed;
}

.cover__content1{
    background: #00841f;
    position: absolute;
    top:0;
    /* right:0; 
    left: 0;
    right: 0; 
    
}*/

#back-ground{
    /* width: 100%; */
    height: auto;
    position: fixed;
}
/* #background-foreste{
    height: auto;
    position: absolute;
} */

/* Bottoni Azione */
.cta{
    /* border: 1px solid red; */
    /* justify-content: end; */
    margin: auto;
    margin-right: 0;
    margin-left: 0;
    width: auto;
    text-align: end;
}
    .button{
        padding: 17px 18px 17px 18px; background-color: #004e12;display: inline-block; border-radius: 4px;
        font-family: 'Inter', sans-serif;font-size: 25px;color:#fff;
    
    }
    #discover_button{
        font-size: 15px;
    }
    .boxsu{
        /* display: none; */
        width: 1.4%;
        position: fixed;
        bottom: 10px;
        right: 10px;
        /* border: #000; */
        z-index: 1;
    }
    .boxsu--show{
        display: none;
        width: 2%;
        position: fixed;
        bottom: 10px;
        right: 10px;
    }

/* Hero */
.hero{
    position: relative;
    height: 660px;
    width: 100%;
    height: 100%;
    display: flex; width: 100%; align-items: end;
    /* background:  linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.3)); */
    background-size: cover;
    margin-top: 108px;
    /* position: relative; */
    /* border: 5px solid red; */
}
    .hero a{
        text-decoration: none;
        color: #fff;
    }
    .hero__container{
        width: 100%; max-width: 2000px;
        height: 100%;
        /* border: 1px solid red; */
        background:  linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,1) 0%, rgba(60,60,60,0) 100%);
        /* width: 100%; */
        position: absolute;
        /* bottom: 800; */
        padding: 30px;
        display: inline-flex;
        align-items: center;
        padding-top: 30px;
        padding-right: 0px;
        /* padding-left: 130px; */
    }

    .craft__hero{
        position: relative;
        height: 660px;
        width: 100%;
        display: flex; width: 100%; 
        align-items: end;
        background: url("immagini/crafting/crafting.png");
        /* background:  linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.3)); */
        background-size: cover;
        margin-top: 114px;
        /* position: relative; */
        /* border: 5px solid red; */
    }
/* Poster */
.poster{
    display: flex;
    height: 700px;
    /* border: 1px solid red; */
    width: 100%;
    /* padding-top: 616px; */
    /* transform: translateY(616px); */
    align-items: center;
    background: #019d26;
}
.poster__img{
    width: 60%;
    height: 100%;
}
.poster__img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.poster__content{
    width: 40%;
    padding: 50px;
}
.poster__content a{
    margin-top: 30px;
}
.poster__content h3{
    font-family:'Inter', sans-serif;font-size: 40px;color:#fff;
    font-weight: 800;
}
.poster:hover{
    transition: 1s;
    transition-timing-function: ease;
    /* background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(36,255,255,1) 0%, rgba(162,255,254,1) 54%) */
    background-color: rgba(36,255,255,1);
    
}
.poster:hover p, .poster:hover h3, .poster:hover a{
    transition: 1s;
    transition-timing-function: ease-in-out;
    color:#000
}
.poster:hover p, .poster:hover h3{
    transition: 1s;
    transition-timing-function: ease-in-out;
    transform: translateY(10px);
}
.poster:hover a{
    transition: 2s;
    transition-timing-function: ease-in-out;
    background-color: rgb(157, 252, 252);
    border-radius: 25px;
    transform: translateY(10px);
}
.poster, .poster a, .poster p, .poster h3{
    transition: 1s;
    transition-timing-function: ease-in-out;
}

/* Poster 2 */
.translate{
    transform: translateY(-100px);
    transition: 3s;
    transition-timing-function: ease;
    z-index: 0;
}
.untranslate{
    transform: translateY(100px);
    transition: 3s;
    transition-timing-function: ease;
}
.card{
    display: flex;
    /* max-height: 1280px; */
    height: auto;
    padding-top: 5%;
    padding-bottom: 3%;
    /* border: 1px solid red; */
    width: 100%;
    border-radius: 10px;
    /* padding-top: 616px; */
    /* transform: translateY(616px); */
    align-items: center;
    background: #000;
    transition: 3s;
    transition-timing-function: linear;
    z-index: -1;
}
.card__img{
    width: 45%;
    height: auto;
    align-items: center;
    border-radius: inherit;
    padding-right: 30px;
    border-right: 3px solid rgb(209, 209, 209);
}
.card__img img{
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: inherit;
}
.card__copy{
    width: 55%;
    padding: 50px;
}
.card__copy a{
    margin-top: 30px;
}
.card__poster{
    width: 200%;
}
#card__img-border_left{
    border: 0px;
    padding: 0;
    padding-left: 30px;
    border-left: 3px solid rgb(209, 209, 209);
}
/* .card__copy h3{
    font-family:'Inter', sans-serif;font-size: 40px;color:#fff;
    font-weight: 800;
} */
/* .card:hover{
    transition: 1s;
    transition-timing-function: ease;
    background-color: rgba(36,255,255,1);
    
}
.card:hover p, .card:hover h3, .card:hover a{
    transition: 1s;
    transition-timing-function: ease-in-out;
    color:#000
}
.card:hover p, .card:hover h3{
    transition: 1s;
    transition-timing-function: ease-in-out;
    transform: translateY(10px);
}
.card:hover a{
    transition: 2s;
    transition-timing-function: ease-in-out;
    background-color: rgb(157, 252, 252);
    border-radius: 25px;
    transform: translateY(10px);
} */
.card, .card a, .card p, .card h3{
    transition: 1s;
    transition-timing-function: ease-in-out;
}

.myVideo{
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    border-radius: inherit;
}
#background-foreste{
    height: 100%;
    object-fit: cover;
    border: 1px solid red;
    /* position: absolute; */
    /* display: block; */
    /* z-index: 0; */
}
/* Poster 3 */
.card2{
    display: flex;
    height: auto;
    /* border: 1px solid red; */
    width: 100%;
    /* padding-top: 616px; */
    /* transform: translateY(616px); */
    align-items: center;
    background: #019d26;
    border-radius: 10px;
}
.card2__img{
    width: 60%;
    height: 100%;
    border-radius: inherit;
}
.card2__img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}
.card2__copy{
    width: 40%;
    padding: 50px;
}
.card2__copy a{
    margin-top: 30px;
}

.card2:hover{
    transition: 1s;
    transition-timing-function: ease;
    /* background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(36,255,255,1) 0%, rgba(162,255,254,1) 54%) */
    background-color: rgba(36,255,255,1);
    
}
.card2:hover p, .card2:hover a{
    transition: 1s;
    transition-timing-function: ease-in-out;
}
.card2:hover p{
    transition: 1s;
    transition-timing-function: ease-in-out;
    transform: translateY(10px);
}
.card2:hover a{
    transition: 2s;
    transition-timing-function: ease-in-out;
    background-color: rgb(157, 252, 252);
    border-radius: 25px;
    transform: translateY(10px);
}
.card2, .card2 a, .card2 p{
    transition: 1s;
    transition-timing-function: ease-in-out;
}

#craft{
    background: url(immagini/background_craft.png);
}
#crafting{
    color: #019d25;
}
#craft_page{
    display: flex;
    height: 20vh;
    align-items: center;
}
.craft__card{
    margin: 20px 10px;
    margin-bottom: 20px;
    width: 33%;
    height: auto;
    border: 1px white;
    box-shadow: 3px 3px 15px  #005508;
    background:#00841f;
    border-radius: 4px;
}
.craft__card__img{
    width: 100%;
    height: auto;
    border-radius: inherit;
    margin: auto;
}
.crafting__container{
    display: flex;
    flex-wrap: wrap;
    background:#019d25;
    width: 100%;
    /* border: 1px solid red; */
    justify-content: center;
    padding-bottom: 20px;
}
.crafting__container h1{
    padding: 20px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    text-align: center;
    border-bottom: 8px solid white;
    font-family: "MinecraftBold";
    color: white;
}
.crafting__card{
    margin: 20px 10px;
    margin-bottom: 0;
    width: 22%;
    height: auto;
    /* border: 1px solid purple; */
    box-shadow: 3px 3px 15px  #005508;
    background:#00841f;
    border-radius: 4px;
}
.crafting__card__img{
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: inherit;
}
.crafting__card__content{
    padding: 0 5%;
}
.crafting__card__content ul li{
    font-family: 'MinecraftRegular';
    font-size: 22px;
    color: rgb(209, 209, 209);
}

/* Biomi */
#biomi{
    background: url(immagini/background_biomi.jpg);
}
.biomi__card{
    margin: 20px 10px;
    margin-bottom: 20px;
    width: 31%;
    height: auto;
    border: 1px white;
    box-shadow: 3px 3px 15px  #005508;
    background:#00841f;
    border-radius: 4px;
}
.biomi__card__img{
    width: 100%;
    height: auto;
    border-radius: inherit;
}

.copertura{
    background-color: rgba(0, 0, 0, 0.616);
}
#search_results{
    background:#005508;
    padding-bottom: 80px;
    padding-top: 20px;
}
#search_title{
    text-align: left;
    padding-left: 10px;
    
}
#oak_forest{
    background: rgba(86, 125, 34, 0.815);
}
#birch_forest{
    background: rgba(50, 73, 20, 0.815);
}
#taiga{
    background: rgba(35, 54, 35, 0.815);
}
#darkoak-forest{
    background: rgba(31, 43, 12, 0.815);
}
#giungla{
    background: rgba(61, 77, 10, 0.815);
}
#savana{
    background: rgba(155, 75, 0, 0.815);
}
#flower_forest{
    background: rgba(185, 28, 1, 0.815);
}
#cherry_blossom{
    background: rgba(173, 64, 112, 0.815);
}

#plains{
    background: rgba(110, 143, 67, 0.815);
}
#sunflower_plains{
    background: rgba(180, 192, 18, 0.815);
}

#mountains{
    background: rgba(228, 228, 228, 0.815);
}
#mountains p{
    color: black;
}

#swamp{
    background: rgba(37, 53, 15, 0.815);
}
#mangrove{
    background: rgba(30, 42, 11, 0.815);
}

#desert{
    background: rgba(192, 194, 69, 0.815);
}
#badlands{
    background: rgba(194, 144, 69, 0.815);
}

#frozen_ocean{
    background: rgba(100, 136, 189, 0.815);
}
#cold_ocean{
    background: rgba(54, 107, 185, 0.815);
}
#lukewarm_ocean{
    background: rgba(92, 167, 228, 0.815);
}
#warm_ocean{
    background: rgba(86, 209, 209, 0.815);
}
#frozen_ocean p, #cold_ocean p, #lukewarm_ocean p, #warm_ocean p{
    color: black;
}



#cow{
    background: rgba(63, 48, 36, 0.815);
}
#pig{
    background: rgba(227, 133, 133, 0.815);
}
#sheep{
    background: rgba(214, 214, 214, 0.815);
}
#sheep p{
    color: black;
}
#chicken{
    background: rgba(255, 255, 255, 0.815);
}
#chicken p{
    color: black;
}
#turtle{
    background: rgba(63, 164, 66, 0.815);
}
#cat{
    background: rgba(26, 24, 37, 0.815);
}
#fox{
    background: rgba(203, 105, 32, 0.815);
}
#axolotl{
    background: rgba(252, 55, 157, 0.815);
}
#panda{
    background: rgba(143, 147, 146, 0.815);
}
#polar_bear{
    background: rgba(242, 242, 242, 0.815);
}
#polar_bear p{
    color: black;
}
#spider{
    background: rgba(70, 63, 53, 0.815);
}
#zombie{
    background: rgba(112, 148, 90, 0.815);
}
#creeper{
    background: rgba(27, 215, 69, 0.815);
}
#skeleton{
    background: rgba(175, 175, 175, 0.815);
}
#slime{
    background: rgba(89, 146, 75, 0.815);
}

#pigman{
    background: rgba(210, 146, 120, 0.815);
}
#piglin{
    background: rgba(241, 186, 132, 0.815);
}
#blaze{
    background: rgba(233, 169, 33, 0.815);
}
#wither_skeleton{
    background: rgba(66, 66, 66, 0.815);
}
#magma_cube{
    background: rgba(52, 0, 0, 0.815);
}

#enderman{
    background: rgba(22, 22, 22, 0.815);
}
#endermite{
    background: rgba(61, 36, 75, 0.815);
}
#shulker{
    background: rgba(136, 76, 125, 0.815);
}

#ender_dragon{
    background: rgba(131, 0, 160, 0.815);
}
#wither{
    background: rgba(51, 51, 51, 0.815);
}
#warden{
    background: rgba(10, 45, 53, 0.815);
}



/* bg */
.bg-cover{
    display: flex;width: 100%; align-items: end;
    flex-wrap: wrap;
    background-size: cover;
    margin: 0;
    /* transform: translateY(616px); */
    text-align: center;
    align-items: center;
    height: 800px;
    position: relative;
}
.bg-cover__text{    
    /* border: 10px solid red; */
    width: 50%;
    /* padding: 5px; */
    /* margin: 0%; */
    text-align: start;
    padding: 40px; text-align: start;color: #fff;} 
.bg-cover__text p{color: #fff;} 
.bg-cover__title{ 
    /* border: 10px solid red; */
    width: 50%;
    /* padding: 5px; */
    /* margin: 0%; */
    text-align: start;
    padding: 40px;
}

.contenitore{
    position: absolute;
    /* object-fit: cover; */
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    /* height: 650px; */
    /* position: absolute; */
    /* padding-bottom: 100px; */
    /* transform: translateY(-473px); */
    display: flex;
    flex-wrap: wrap;
    background:  linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(60,60,60,0) 100%);
    text-align: center;
    align-items: center;
}

/* Slider */
#text_before_carousel{
    padding-bottom: 60px;
}

.main-carousel{
    /* border: 1px solid red; */
    /* padding: 40px 0px; */
    height: auto;
    margin: 0 0px;
    /* padding: 0 80px; */
    margin-top:0 ;
    /* padding: 0px 0px 0px 0px; */
    /* border-radius: 20px; */
    margin-right: 0px;
    /* background:#019d26; */
    background: linear-gradient(0deg, #019d25 0%, #019d25 0%, rgb(0, 0, 0)100%);
    /* align-content: center; */
    align-items: center;
    z-index: 0;
}
    .carousel-cell{
        /* position: absolute;
        left: 20%; */
        flex-wrap: wrap;
        /* border: 1px solid red; */
        width: 70%;
        height: 500px;
        padding: 0px 20px;
        padding-bottom: 100px;
        margin: 0 10px;
        /* z-index: 0; */
    }
    
    .carousel-cell__content{
        border-radius: 15px;
        height: 100%;
        border: 2px solid rgb(209, 209, 209);
        /* line-height: 350px; */
        text-align: center;
        /* z-index: -1; */
        position: relative;

        /* width: 100%; max-width: 2000px; */
        /* border: 1px solid red; */
        background:  linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,1) 0%, rgba(60,60,60,0) 100%);
        transition: 0.3s;
        transition-timing-function: ease;
        justify-content: center;
        /* width: 100%; */
        /* position: absolute; */
        /* bottom: 800; */
        /* padding: 30px;
        padding-bottom: 200px;
        padding-right: 0px;
        padding-left: 130px; */
    }
    .carousel-myVideo{

        object-fit: cover;
        width: 100%;
        height: 100%;
        /* display: block; */
        margin: 0;
        border-radius: inherit;
        z-index: 0;
    }
    .carousel-cell__content__text{
        width: auto; max-width: 2000px;
        max-height: 100px;
        /* border-radius: inherit; */
        color: #000;
        /* border: 1px solid red; */
        /* background:  linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,1) 0%, rgba(60,60,60,0) 100%); */
        background: rgb(209, 209, 209);
        /* width: 100%; */
        position: absolute;
        bottom: -15px;
        left: 20px;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        transition-timing-function: ease;
        /* right: 50%; */
        z-index: 1;
    }
    .carousel-cell__content__text p{
        color: #000;
        align-items: center;
        padding: 5px 20px;
    }
    .carousel-cell__content__text:hover {
        background: #036ca5;
    }
    .carousel-cell__content:hover{
        border-color: #036ca5;
    }
    .c1{
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(60,60,60,0) 100%), url("immagini/background_image.jpg");
        background-size: 100%;
        z-index: 0;
    }
    .c2{
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(60,60,60,0) 100%), url("immagini/background_image2.jpg");
        background-size: 100%;z-index: 0;
    }
    .c3{
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(60,60,60,0) 100%), url("immagini/background_image3.jpg");
        background-size: 100%;z-index: 0;
    }
    
    .c4{
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(60,60,60,0) 100%), url("immagini/background_image4.jpg");
        background-size: 100%;z-index: 0;
    }
    .c5{
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(60,60,60,0) 100%), url("immagini/background_image5.jpg");
        background-size: 100%;z-index: 0;
    }
    .c6{
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(60,60,60,0) 100%), url("immagini/background_smartphone.jpg");
        background-size: 100%;z-index: 0;
    }
   
    .c7{
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(60,60,60,0) 100%), url("immagini/carbone.webp");
        background-size: 100%;z-index: 0;
    }
    .c8{
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(60,60,60,0) 100%), url("immagini/diamante.jpg");
        background-size: 100%;z-index: 0;
    }
    .c9{
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(60,60,60,0) 100%), url("immagini/H2x1_NSwitch_Minecraft.jpg");
        background-size: 100%;  z-index: 0;
    }

/* .menubiomi{
    display: none;
} */
.freccia_tendina{
    width: 30px;
    height: auto;
}
.img__lista{
    display: inline-block;
    height: auto;
    width: 30px; 
    /* position: absolute; */
    /* left: 0; */
    padding-right: 10px;
    align-items: center;
    /* height: auto; */
}
.menubiomi--open .freccia_tendina{
    transform: rotate(180deg);
}
.freccia_tendina::after{
    transition-delay:calc(120ms * var(--i));
}

.Tendina{
    position: relative;
}

.menubiomi{
    /* margin: 50px 0px 0px 0px; */
    display:grid;
    /* transition: 0.3s; */
    position: absolute;
    /* border: 1px solid black; */
    max-width: 1350px;
    max-height: 0;
    padding: 0; 
    overflow: hidden;
    transform: translate(-10px, 18px);
    
    align-items: center;
    transition: 0.5s;
    transition-timing-function: ease;
    /* transition-delay:calc(60ms * var(--i)); */
}

.menubiomi--open .menubiomi{
    max-height: 300px;
    border-bottom: 1px solid rgb(209, 209, 209);
    transition: 0.5s;
    transition-timing-function: ease;
    transition-delay:calc(120ms * var(--i));
}
.menubiomi a{
    display: flex;
    align-items: center;
    font-family: 'MinecraftRegular';
    color: rgb(209, 209, 209);
    font-size: 130%;
    position: relative;
    width: 200px;

    /* display: flex; */
    /* flex-wrap: wrap; */
    text-align: start;
    /* bottom: 700%; */
    /* right: 100%; */
    padding: 5px 10px;
    /* border: 1px solid black; */
    /* border-radius: 4px; */
    /* padding: 5px 10px; */
    margin: 0;
    z-index: 1;
    background:#019d26;
    overflow: hidden;
    /* transition-delay:calc(120ms * var(--i)); */

}
.menubiomi li{
    background: #019d25;
}
.menubiomi a ul{
    height: 0px;
    overflow: hidden;
}
.menubiomi__a--open ul{
    overflow: hidden;
    height: 300px;
}
.menubiomi--open .menubiomi a{
    overflow: hidden;
}
.menubiomi a span{
    /* border:1px solid #000; */
    border-radius: inherit;
    position: absolute;
    top: -97%;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(209, 209, 209);
    /* transform: rotate(160deg); */
    transform-origin: right;
    z-index: -1;
    transition: 0.2s;
    transition-timing-function: ease;
}
.menubiomi__a--open:hover{
    color: #00841f;
    transition: 0.5s;
    transition-timing-function: ease;
}
.menubiomi__a--open:hover span{ 
    top: 0%;
    
    /* background:rgba(36,255,255,1); */
    
}

.portale{
    align-items: center;
    justify-content: center;
    box-shadow: -200px -300px 20px 300px #005508;
    /* margin-top: 200px; */
    border:1px solid red
}


/*-------------------------------
Tablet
-------------------------------*/
@media (min-width: 768px) and (max-width: 1366px) {
    /* footer{background-image: url("immagini/sfondo_bloccoditerra.jpg");border: 1px solid #00841f;width: 100%; text-align: center;} */
    /* .header_footer{background-image: url("immagini/sfondo_bloccoditerra.jpg"); background-size: 50% ;border: 2px solid #00841f;width: 100%;position: fixed;} */
    /* .header_footer{background: #019d26;border: 2px solid #00841f;width: 100%} */
    /* Colonna */

    .small_header, .small_header p{
        height: 0;
        padding: 0;
    }
    .Global__header{
        position: fixed;
    }
    .big_text{
        font-size: 6vw;
    }
    .Global__header--fixed{
        position: fixed;
    }

    .hero{
        margin-top: 63px;
    }

    .menubiomi{
        transform: translate(0, 10px);
        height: 0;
        position: fixed;
        left: 0;
        width: 100vw !important;
        height: 94.5vh !important;
    }
    .menubiomi a{
        /* overflow: hidden; */
        height: 100%;
        width: auto;
        font-size: 30px;
    }
    .menubiomi img{
        /* overflow: hidden; */
        width: 8%;
        height: auto;
        
    }
    .menubiomi--open .menubiomi a{
        overflow: hidden;
    }
    .menubiomi__a--open a{
        color: #00841f;
        transition: 0.5s;
        transition-timing-function: ease;
    }
    .menubiomi__a--open a span{ 
        top: 0%;
    }
    .menubiomi--open .menubiomi{
        /* border-bottom: 1px solid rgb(209, 209, 209); */
        max-height: 100vh;
        transition: 0.5s;
        background: #019d25;
        transition-timing-function: ease;
        transition-delay:calc(120ms * var(--i));
    }
    .menubiomi--open .freccia_tendina{
        transform: rotate(180deg);
    }

    .Global__header__menu{
        padding-left: 0;
    }
    .Global__header__menu__item{
        width: 23%;
        text-align: center;
    }
    .Global__header__menu li > a{
        font-size: 2vw;
    }
    .freccia_tendina{
        width: 2.5vw;
    }

    .card2__copy{
        width: 60%;
        height: auto;
    }
    .card2__img{
        width: 40%;
        height: auto;
    }
    .crafting__card{
        /* width: auto; */
        width: 30%;
        /* max-width: 80%; */
    }
    .colonna{
        /* border: 1px solid black; */
        width: 50%;
        /* padding: 5px;
        margin: 0%; */
        
    }
    .colonna{
        /* border: 1px solid black; */
        width: 100%;
        /* padding: 5px;
        margin: 0%; */
        
    }
    
    /* .colonnatitolo{
        margin:  0px 0px 0.90% 7.142857143%;
        /* border: 1px solid white; 
        
    } */
    #back-ground{
        object-fit: cover;
        width: 100%;
        height: 100%;

        position: fixed;
        
    }
    .immagine-descrizione{    
        width: 100%;
        padding: 5px;
        /* border: 1px solid black; */
    }

    .immagine{
        width: 100%;
        margin: 0%;
        /* border: 1px solid black; */
    }
    
    
    .footer__column img{
        position: static;   
        padding-top: 10px;
        top: 6vh;
        right: 6vh;
        border-radius: 34px;
        width: 10vw;
        height: auto;
    }

    .craft__hero{
        margin-top: 101px;
    }
}

/*-------------------------------
Smartphone
-------------------------------*/
@media (max-width: 767.9px) {
    
    /* Testi */
    .medium_text{    font-family: 'Inter', sans-serif;font-size: 38px;color:#fff}
    .normal_text{    font-family: 'Inter', sans-serif;font-size: 22px;color:#fff; font-weight: 500;}
    .small_text{    font-family: 'Inter', sans-serif;font-size: 12px;color:#fff}
    .big_text{     font-family: 'Inter', sans-serif, bold;font-size: 56px; color: #fff;font-weight: 900;}
    .intro_text{
        text-transform: uppercase;
        font-family: 'Inter', sans-serif;
        font-size: 30px;
        color: #fff;
        font-weight: bold;
    }
    
    p{
        font-size: 15px;
    }
    header{background: #019d26;border: 2px solid #00841f;width: 100%;position: absolute; top: 0;right: 0;left: 0;}

    /* Global Header */
    .Global__header{
        position: fixed;
        padding-bottom: 8px;
        z-index: 1;
    }
    .Global__header--fixed{
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        padding-top: 10px;
        z-index: 1;
    }
        /* Global Header Menu */
        .Global__header__menu{
            overflow: hidden;
            /* position: absolute; */
            /* top: 0; */
            /* right: -400px; */
            width: 0;
            height: 0;
            margin: 0;
            padding: 0;
            /* height: 20px; */
            /* background: 1px solid red; */

        }
        .Global__header__menu--open{
            display: block;
            /* flex-wrap: wrap; */
            width: 100%;
            height: 100%;
            position: fixed;
            /* top: 42px; */
            background: #00841f;
            border-radius: 4px;
            top: 35px;
            padding-top: 10px;
            /* padding: 10px 0; */
            /* margin-top: 20px; */
            transition: 0.3s;
            transition-timing-function: ease;
            z-index: -1;
        }
        .Global__header__menu--open li{
            /* border-left: 40px; */
            /* border-right: 40px; */
            border-bottom: 2px solid #005508;
            border-left: 2px solid #005508;
            width: 100%;
            height: auto;
            padding-left: 5px;
        }
        .Global__header__line-menu{
            height: 0;
            width: 0;
        }
        .menubiomi{
            list-style: none;
            max-height: 3000px;
            position: relative;
            width: 100% ;
            max-height: 3000px ;
            transform: translate(0px,0px);
            align-items: normal;
            
        }
        
        .menubiomi--open .menubiomi{
            transition: 0.5s;
            transition-timing-function: ease;
            transition-delay:calc(120ms * var(--i));
        }
        .menubiomi a span{
            height: 0;
        }
        .menubiomi a{
            border-bottom: 1px solid rgb(209, 209, 209);
            height: 5.97vh;
            width: 3000px;
            background: none;
            font-size: 20px;
            padding: 10px;
        }
        .img__lista{
            width: 1.75%;
        }
        .Tendina{
            height: 2.5%;
        }
        .Global__header__menu__item{
            height: 10%;
        }
        .Global__header__menu__item a{
            font-size: 20px;
        }
        /* Global Header Icon Bar */
        .Global__header__icon-bar{
            display: block;
            width: 30px;
            height: 30px;
            /* border: 1px solid red; */
            position: fixed;
            top: 10.25px;
            right: 10px;
            z-index: 1;
        }
        .Global__header__icon-bar span{
            background: white;
            height: 3px;
            width: 100%;
            display: block;
            margin-bottom: 5px;
        }
        #Global__header__logo{
            font-size: 30px;
            padding-left: 10px;
        }

        #Titolo1{
            margin-top: 43px;
        }
        #Titolo1_mobs{
            margin-top: 43px;
        }

    /* Small Header */
    .small_header, .small_header p{
        height: 0;
        padding: 0;
    }
    
    /* Cover */
    .cover{
        margin: 0;
    }
    /* Cover 2 */
    .cover2{
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .hero{
        margin-top: 43px;
        height: 100vh;
    }
    .hero__container{
        padding: 0;
        padding-left: 10px;
        padding-bottom: 0;
    }
    /* .hero__content{
        position: absolute;
        left: 0;
        width: 1000px;
    } */

    .myVideo{
        object-fit: cover;
        display: block;
        /* width: 1350px; */
        height: 100%;
        width: 100%;
        /* height: auto; */
        /* size: 50px; */
        margin: 0;
        /* position:absolute; */
        /* top:0; */
        /* left:-970px; */
        /* left: 0; */
        /* clip: rect(20px 205px 110px 55px); */
    }
    
    #back-ground{
        object-fit: cover;
        width: 100%;
        height: 110%;
        position: fixed;
        
    }
    
    .immagine-descrizione{    
        width: 100%;
        padding: 5px;
        /* border: 1px solid black; */
    }
    /* .colonnatitolo{
        margin:  0px 0px 0.90% 7.142857143%;
        /* border: 1px solid white; 
        
    } */

    .immagine{
        width: 100%;
        margin: 0%;
        /* border: 1px solid black; */
    }
    
    /* Bottoni Azione */
    .cta{
        display: none;
    }
        .button{
            font-size: 20px;
        }
        #discover_button{
            font-size: 20px;
        }
        .boxsu{
            width: 4%;
            position: fixed;
            bottom: 40px;
            right: 40px;
        }

    
    /* Poster */
    .poster{
        height: 58vh;
        /* transform: translateY(80%); */
    }
    .poster__content{
        width: 70%;
        padding: 25px;
    }
    .poster__img{
        width: 30%;
    }

    /* bg */
    .bg-cover{
        height: 100vh;
    }
    .contenitore{
        position: absolute;
        /* border: 10px solid blue; */
        object-fit: cover;
        width: 100%;
        /* height: 650px; */
        /* padding-bottom: 100px; */
        /* transform: translateY(-793px); */
        display: flex;
        flex-wrap: wrap;
        background:  linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(60,60,60,0) 100%);
        /* text-align: center;
        align-items: center; */
        justify-content: center;
    }

    .bg-cover__title{
        width: auto;
        top: 20px;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        padding-top: 20vh;
        /* border: 1px solid red; */
    }
    .bg-cover__text{
        width: auto;
        text-align: center;
        padding-top: 0;
        top: 10px;
        padding-bottom: 40vh;
        /* border: 1px solid blue; */
    }

    /* Footer */
    .footer h3{
        font-size: 24px;
    }

    .footer p{
        font-size: 15px;
    }
    .footer__column{
        position: relative;
        transition: 0.2s;
        transition-timing-function: ease-in;
        /* width: 100vw; */
    }
    .footer__column img{
        position: static;   
        padding-top: 10px;
        top: 6vh;
        right: 6vh;
        border-radius: 34px;
        width: 25vw;
        height: auto;
    }

    .container{
        display: flex;
        flex-wrap: wrap;
        padding-top: 10px;
    }
    /* Card */
    .card{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        height: auto;
        z-index: 0;
    }
    .card__copy{
        width: auto;
        z-index: 1;
        padding: 25px;
    }
    .card__img{
        padding: 0px 10px 39px 10px;
        width: auto;
        border-right: 0px;
        border-bottom: 4px solid rgb(209, 209, 209);
        z-index: 1;
    }
    #card__img-border_left{
        border-left: 0px;
        border-top: 4px solid rgb(209, 209, 209);
        padding: 39px 10px 0px 10px;
    }

    #text_before_carousel{
        padding: 30px;
        border-top: 5px solid rgb(209, 209, 209);
        text-align: center;
    }

    /* Card 2 */
    .card2{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        height: auto;
        z-index: 0;
    }
    .card2__copy{
        width: auto;
        z-index: 1;
        padding: 10px;
    }
    .card2__img{
        /* padding: 0px 10px 39px 10px; */
        width: auto;
        z-index: 1;
    }

    /* Craft */
    .craft__hero{
        margin-top: 0;
        height: 106vh;
    }
    .craft__hero p{
        font-size: 60px;
    }
    .crafting__card{
        width: auto;
        min-width: 60%;
        max-width: 80%;
    }
    .crafting__card p{
        font-size: 20px;
    }
    .grid{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .footer__column{
        border-top: 1px solid #019d25;
        width: 100vw;
    }
    .footer__column h3{
        font-size: 14px;
    }
    .footer__column p{
        padding-top: 5px;
    }

    .carousel-cell{
        height: 40vh;
        width: 100vw;
        margin: 0 0px;
        margin-bottom: 30px;
    }
    
    .carousel-cell__content__text p{
        font-size: 10px;
    }
}
/*-------------------------------
Smartphone molto piccoli
-------------------------------*/
@media (max-width: 380px) {
    /* Global Header */
    .big_text{
        font-size: 10vw;
    }
    .Global__header{
        position: fixed;
        padding-bottom: 8px;
    }
    .Global__header--fixed{
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        padding-top: 10px;
        z-index: 0;
    }
        /* Global Header Menu */
        .Global__header__menu{
            overflow: hidden;
            /* position: absolute; */
            /* top: 0; */
            /* right: -400px; */
            width: 0;
            height: 0;
            margin: 0;
            padding: 0;
            /* height: 20px; */
            /* background: 1px solid red; */

        }
        .Global__header__menu--open{
            display: block;
            /* flex-wrap: wrap; */
            width: 100%;
            height: 100%;
            position: fixed;
            /* top: 42px; */
            background: #00841f;
            border-radius: 4px;
            top: 43px;
            /* padding: 10px 0; */
            /* margin-top: 20px; */
            transition: 0.3s;
            transition-timing-function: ease;
        }
        .Global__header__menu--open li{
            /* border-left: 40px; */
            /* border-right: 40px; */
            border-bottom: 2px solid #005508;
            border-left: 2px solid #005508;
            width: 100%;
            height: auto;
            padding-left: 5px;
        }
        .Global__header__line-menu{
            height: 0;
            width: 0;
        }
        .menubiomi{
            list-style: none;
            max-height: 3000px;
            position: relative;
            width: 100% ;
            max-height: 3000px ;
            transform: translate(0px,0px);
            align-items: normal;
            
        }
        
        .menubiomi--open .menubiomi{
            transition: 0.5s;
            transition-timing-function: ease;
            transition-delay:calc(120ms * var(--i));
        }
        .menubiomi a span{
            height: 0;
        }
        .menubiomi a{
            border-bottom: 1px solid rgb(209, 209, 209);
            height: 5.6vh;
            width: 3000px;
            background: none;
            font-size: 20px;
            padding: 10px;
        }
        .img__lista{
            width: 1.75%;
        }
        .Tendina{
            height: 2.5%;
        }
        .Global__header__menu__item{
            height: 10%;
        }
        .Global__header__menu__item a{
            font-size: 20px;
        }
        /* Global Header Icon Bar */
        .Global__header__icon-bar{
            display: block;
            width: 30px;
            height: 30px;
            /* border: 1px solid red; */
            position: fixed;
            top: 10.25px;
            right: 10px;
            z-index: 1;
        }
        .Global__header__icon-bar span{
            background: white;
            height: 3px;
            width: 100%;
            display: block;
            margin-bottom: 5px;
        }
        #Global__header__logo{
            font-size: 30px;
            padding-left: 10px;
        }

    
    /* Cover */
    .cover{
        margin: 0;
    }
    .cover h3{
        font-size: 12vw;
    }
    /* Cover 2 */
    .cover2{
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .hero{
        margin-top: 43px;
        height: 700px;
    }
    .hero__container{
        padding: 0;
        padding-left: 10px;
        padding-bottom: 50%;
    }
    /* .hero__content{
        position: absolute;
        left: 0;
        width: 1000px;
    } */
    .myVideo{
        object-fit: cover;
        display: block;
        /* width: 1350px; */
        height: 100%;
        width: 100%;
        /* height: auto; */
        /* size: 50px; */
        margin: 0;
        /* position:absolute; */
        /* top:0; */
        /* left:-970px; */
        /* left: 0; */
        /* clip: rect(20px 205px 110px 55px); */
    }
    
    #back-ground{
        object-fit: cover;
        width: 100%;
        height: 110%;
        position: fixed;
        
    }
    
    .immagine-descrizione{    
        width: 100%;
        padding: 5px;
        /* border: 1px solid black; */
    }
    /* .colonnatitolo{
        margin:  0px 0px 0.90% 7.142857143%;
        /* border: 1px solid white; 
        
    } */

    .immagine{
        width: 100%;
        margin: 0%;
        /* border: 1px solid black; */
    }
    
    /* Bottoni Azione */
    .cta{
        display: none;
    }
        .button{
            font-size: 20px;
        }
        #discover_button{
            font-size: 20px;
        }
        .boxsu{
            width: 4%;
            position: fixed;
            bottom: 40px;
            right: 40px;
        }

    
    /* Poster */
    .poster{
        height: 100vh;
        /* transform: translateY(80%); */
    }
    .poster__content{
        width: 70%;
        padding: 25px;
    }
    .poster__img{
        width: 30%;
    }

    /* bg */
    .bg-cover{
        height: 450px;
    }
    .contenitore{
        position: absolute;
        /* border: 10px solid blue; */
        object-fit: cover;
        width: 100%;
        /* height: 650px; */
        /* padding-bottom: 100px; */
        /* transform: translateY(-793px); */
        display: flex;
        flex-wrap: wrap;
        background:  linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(60,60,60,0) 100%);
        /* text-align: center;
        align-items: center; */
        justify-content: center;
    }

    .bg-cover__title{
        width: auto;
        top: 20px;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        /* border: 1px solid red; */
    }
    .bg-cover__text{
        width: auto;
        text-align: center;
        padding-top: 0;
        top: 10px;
        /* border: 1px solid blue; */
    }

    /* Footer */
    .footer h3{
        font-size: 24px;
    }

    /* .footer__column{
        position: relative;
        transition: 0.2s;
        transition-timing-function: ease-in;
    }
    .footer__column img{
        position: static;
        padding-top: 10px;
        top: 6vh;
        right: 6vh;
        border-radius: 4px;
        width: 80vw;
        height: auto;
    } */
    

    .container{
        display: flex;
        flex-wrap: wrap;
        padding-top: 10px;
    }
    /* Card */
    .card{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        height: auto;
        z-index: 0;
    }
    .card__copy{
        width: auto;
        z-index: 1;
        padding: 25px;
    }
    .card__img{
        padding: 0px 10px 39px 10px;
        width: auto;
        border-right: 0px;
        border-bottom: 4px solid rgb(209, 209, 209);
        z-index: 1;
    }
    #card__img-border_left{
        border-left: 0px;
        border-top: 4px solid rgb(209, 209, 209);
        padding: 39px 10px 0px 10px;
    }

    #text_before_carousel{
        padding: 30px;
        border-top: 5px solid rgb(209, 209, 209);
        text-align: center;
    }

    /* Card 2 */
    .card2{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        height: auto;
        z-index: 0;
    }
    .card2__copy{
        width: auto;
        z-index: 1;
        padding: 10px;
    }
    .card2__img{
        /* padding: 0px 10px 39px 10px; */
        width: auto;
        z-index: 1;
    }

    /* Craft */
    .craft__hero{
        margin-top: 0;
    }
    /* .crafting__card{
        width: 30%;
    } */
    
    
    
}



.group:after {
    content: "";
    display: table;
    clear: both;
}

*,
*:before,
*:after{
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
}