@font-face {
    font-family: 'MinecraftBold';
    src: url('font/MinecraftBold.otf') format('truetype');;
}

@font-face {
    font-family: 'MinecraftBoldItalic';
    src: url('font/MinecraftBoldItalic.otf') format('truetype');;
}

@font-face {
    font-family: 'MinecraftRegularItalic';
    src: url('font/MinecraftRegularItalic.otf') format('truetype');;
}

@font-face {
    font-family: 'MinecraftRegular';
    src: url('font/MinecraftRegular.otf') format('truetype');;
}

@font-face {
    font-family: 'MinecraftCaps';
    src: url('font/MinecraftCaps.otf') format('truetype');;
}



body, html{padding: 0;margin: 0;}

body{
    background: #eeeeee;
    /* background-image: url("immagini/background.png"); */
    
}

a{text-decoration: none;}


h1{
    color: #000000;
    margin: 0%;
    height: auto;
    width: 100%;
    font-family: "MinecraftCaps";
    font-size: 45px;
    /* border: 1px solid black; */
}


footer{background: #01ca30;border: 1px solid #00841f;width: 100%; text-align: center;}
footer p{color: #000;}

#Grande_Titolo{font-size: 40px;padding: 45px 0px 0px 0px;}
.img_res{width: 100%;height: auto;}
.container{padding: 15px;}

.header_footer{background: #019d26;border: 2px solid #00841f;width: 100%;position: fixed;}
.header_footer a{color: rgb(209, 209, 209);margin: 10px;font-size: 25px;font-family: "MinecraftRegular"; height: 5px;}

.griglia{
    /* border: 1px solid black; */
    align-items: center ;
    display: flex; 
    flex-wrap: wrap;
    width: 100%;
}

@media(max-width: 768px){

    .colonna{
        /* border: 1px solid black; */
        width: 100%;
        /* padding: 5px;
        margin: 0%; */
        
    }
}

.colonna{
    /* border: 1px solid black; */
    width: auto;
    padding: 5px;
    /* margin: 0%; */
    
}
*{box-sizing: border-box;}

/* #titolo{
    width: 12%;
    text-align: center;
} */

.colonnatitolo{
    margin:  0px 0px 0.90% 11.93%;
    /* border: 1px solid white; */
    
}
.immagine-descrizione{width: 50%; height: auto; align-items: center; text-align: center;}